POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=vertiche
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

SECRET_KEY=...
ENVIRONMENT=development

# App
# ACCESS_TOKEN_EXPIRE_MINUTES=480
# OCR_CONFIDENCE_THRESHOLD=0.80
# ALERT_SCAN_INTERVAL_HOURS=6
# UPLOAD_DIR=./media

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=vertiche-documentos